@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
html{font-size: 120%; background-color: #000000;
     font-family: "Quicksand", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;}

*{color:rgb(255, 255, 255); box-sizing: border-box; padding: 0; margin:0;} 

a{cursor: pointer; text-decoration: none;}
section{margin: 60px 0 0 0; }
h2{text-align: center;}
p{font-size: 1.18rem; padding: 30px 60px 30px 60px;}



/*specific styles for site*/


header{display: flex; align-items: center; border-bottom: 1px solid rgb(255, 255, 255); border-top: 30px solid black;}
header span {font-size: 60px; padding: 10px; cursor: default;}
header h1{text-align: center; margin: auto; font-weight: 500; font-size: 1.4rem;}
nav {display: flex; flex-direction: column; background-color: rgb(255, 255, 255)}
nav a{display: none; color: rgb(0, 0, 0); padding:5px; font-size: 1.3rem; font-weight: 400;} 



.flexrow_spaceAroundHor_centerVer{display:flex; justify-content: space-around; align-items: center;}
.flexcol_centerVer{display:flex; flex-direction: column; align-items: center;}

.carousel img{display:block; width: 20%; border-radius: 30px;}

.carousel{margin: auto auto;}
  
.track{display: flex;}

.img_grid{display: grid; grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
          gap: 10px; 
          margin-top: 20px;
          border: 20px solid transparent; 
          background-color: #000000ec;}

.img_wrap{position: relative;}

.img_grid img{width: 100%;
              height: auto;
              display: block;
              justify-self: center;  /* centers horizontally */
              align-self: center;    /* centers vertically */
              border-radius: 10px;}

/* overlay badge number */
.overlay-number{position: absolute;
                top: 5px;
                left: 5px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: rgba(207, 207, 207, 0.123);
                color: #0c0d38;
                font: 700 17px/50px system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
                text-align: center;
                margin:auto;
                pointer-events: none;}

#support button{width: 330px; height: 80px;
                cursor: pointer;
                font-size: 1.07rem; 
                margin: 30px; 
                color:rgb(255, 255, 255);
                background-color: #24408d;
                border: none; 
                border-radius: 10px; 
                transition: background-color 0.9s ease;}
#support button:hover{background-color: #959c97;;}

footer{height: 240px; display:flex; flex-direction: column; padding: 20px; background-color: rgb(255, 255, 255);} footer a, footer p{font-weight: 400; color: rgb(0, 0, 0); padding: 20px; font-size: 1rem;}

@media only screen and (min-width: 1000px){
    html{font-size: 128%;}
    p{padding: 40px 180px 40px 180px}

    header{padding: 30px;}
    header span{display: none;}
    nav{flex-direction: row; justify-content: space-evenly; padding: 15px;}
    nav a{display:block!important;}
    nav a:hover{text-decoration: overline;}

    #hero img{display:block; width: 16%;}

    footer{flex-direction: row; align-items: center; justify-content: center;}
}