@import url('https://fonts.googleapis.com/css2 family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter_default_font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;}
html{font-size: 19px;   scroll-behavior: smooth;}
*{box-sizing: border-box; padding: 0; margin: 0;} li{list-style-type:none;} a{text-decoration: none; color: black;}
header{border-top: 20px solid black;
       border-bottom:20px solid black;
       background-color: #EFEFEF;
       padding: 20px;
       display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;}
header span{font-size: 55px; margin: 5px;}
header h1{display: inline-block; flex-grow: 2; text-align: center; font-size: 1.3rem;}
header nav{display: none; flex: 1 0 100%; justify-self: flex-start; padding-left: 10px;} header nav ul li{padding: 5px;}

.index_landing{display: flex; flex-direction: column; align-items: center; border-bottom: 20px solid black;}
.index_landing img{width: 70%; padding: 20px; border-radius: 50px;}
.index_landing p{text-align: center; padding: 46px 20px 46px 20px;}

.index_sketch_section * {text-align: center; padding: 30px;}

.index_about, .index_donations{margin: 40px; display: flex; flex-direction: column; align-items: center;}
.index_about * , .index_donations *{padding: 10px 50px 10px 50px;}
.gallery{display: grid;
         grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
         gap: 20px;
         padding: 10px;
         background-color: black;}
.gallery img{width: 100%; height: auto; display: block; border-radius: 50px; transition: transform 0.3s ease, box-shadow 0.3s ease;} .gallery img:hover{transform: scale(1.05); box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);}

.index_donations button{cursor: pointer;margin: 20px; background-color: black; color:aliceblue; border-radius: 10px; font-size: 1rem ;width: 300px; height: 80px; transition: background-color 1s ease;}
.index_donations button:hover{background-color: #EFEFEF; color: black;}
@media only screen and (min-width: 700px) {
  header span{display: none;}
  header nav {display: flex!important; padding: 10px;}
  header nav ul{flex: 1 0 100%; display: flex; flex-direction: row!important; justify-content: space-around;}

  .index_landing{display: flex; flex-direction: row;} .index_landing img{width: 30%;} .index_landing p{flex-grow: 1; font-size: 1.1rem;}

  footer{flex-direction: row!important; justify-content: space-evenly;}
}


footer{display:flex; flex-direction: column; padding: 10px; background-color: rgb(0, 0, 0);}
footer * {font-size: 0.8rem; color:rgb(240, 227, 227);margin: 15px;}

.fullscreen {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgb(13, 2, 39);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.fullscreen img {
  max-width: 100%;
  max-height: 100%;
}
