@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
html{font-size: 1.25rem; background-color: #8f8f9d2b;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;}
*{color:rgb(0, 0, 0); box-sizing: border-box;} a{cursor: pointer; text-decoration: none;} a:hover{text-decoration: overline;}
header{border-top: 40px solid black;}
nav {display: flex; flex-direction: column;}
nav a{display: none; color: rgb(224, 221, 221); padding:5px; font-size: 1.3rem; font-weight: 400;}

.may_be_a_carousel{display:flex;align-items: center; justify-content: center;}
.may_be_a_carousel img{display:block; width: 20%; border-radius: 30px;}


.img_grid img{width: 100%;
              height: auto;
              display: block;
              justify-self: center;  /* centers horizontally */
              align-self: center;    /* centers vertically */
              border-radius: 10px;}

.link_hover_effect{text-decoration: overline;}

#donation_button{cursor: pointer;margin: 20px; background-color: black; color:aliceblue; border-radius: 10px; font-size: 1rem ;width: 300px; height: 80px; transition: background-color 1s ease;}
#donation_button:hover, .touch_button{background-color: #EFEFEF; color: black;}

@media only screen and (min-width: 1000px){
    header{border: none; padding: 30px;}
    #respo{display: none;}
    nav{flex-direction: row; justify-content: space-evenly; padding: 10px;}
    nav a{display:block!important;}

    .may_be_a_carousel img{display:block; width: 16%;}

    
    p{padding: 60px;}
}